@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-between {
    @apply justify-center items-center flex;
  }
  .project__button {
    @apply border-2 border-accent  text-base bg-black gap-2 flex-between py-[4px] hover:bg-accent hover:text-black  px-2 rounded-md;
  }
  .project__description {
    @apply shadow-xl relative flex  text-white flex-col bg-primary  rounded-sm p-8;
  }
  .project__skills {
    @apply font-openSans font-medium my-2 gap-1 mt-4  flex flex-row italic;
  }
  .project__image {
    @apply self-center border-2 border-accent p-2  rounded-md absolute w-96 h-96;
  }
  .skill__card {
    @apply flex-between gap-2 w-12 h-12 text-sm flex-col p-10  border-b-2 shadow-sm shadow-accent border-accent rounded-md bg-primary;
  }
  .skill__container {
    @apply flex-row relative flex-between gap-2;
  }
  .contact__input {
    @apply text-white px-4 py-4 bg-primary   rounded-md border-accent border-2;
  }
  .page__container {
    @apply md:px-80 bg-secondary min-h-screen py-10 flex flex-col;
  }
  .page__title {
    @apply font-montserrat font-bold text-center  text-4xl text-white;
  }
}
